@charset "UTF-8";

body{
	padding: 5%;
	 background:url('https://source.unsplash.com/random/1600×900/?cabras');
	 background-repeat: no-repeat;
	 background-size: 100%;
	 color: white;
}
.styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
color: white;
}
.styled-table thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}
.styled-table th, .styled-table td {
padding: 12px 15px;
}
.styled-table tbody tr {
border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
/*background-color: #f3f3f3;*/
}
.styled-table tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
font-weight: bold;
color: #009879;
}
.btn-type{
	border: 1px solid lawngreen;
	padding: 8px;
	border-radius: 8px;
	text-decoration: none;
	background-color: limegreen;
	color: white;
	margin-top: 10%;
}

.btn-type-at{
	border: 1px solid lightcoral;
	padding: 8px;
	border-radius: 8px;
	text-decoration: none;
	background-color: red;
	color: white;
	margin-top: 10%;
}